{% extends 'base.html' %}

{% block content %}
    <script>
        function exportJson(el) {
            var obj = {{thejson | safe}};
            var data = "text/json;charset=utf-8," + encodeURIComponent(JSON.stringify(obj));
            el.setAttribute("href", "data:"+data);
            el.setAttribute("download", "{{ character.name }}.sav");
         }
    </script>
    <a id="exportJSON" onclick="exportJson(this);" class="btn btn-primary">Download Save</a>
    <br>
    <form method="POST">
    <label>Character Sheet</label>
    <input name="{{ name }}" value="{{ character.name }}" class="form-control">
    <label>Role</label>
    <input name="{{ role }}" value="{{ character.role }}" class="form-control">
    <label>Archetype</label>
    <input name="{{ archetype }}" value="{{ character.archetype }}" class="form-control">
    <label>Idea</label>
    <input name="{{ idea }}" value="{{ character.idea }}" class="form-control">

    <h3>Attributes</h3>
        {% for attribute, value in character.attributes.items() %}
            <label>{{ attribute }}</label>
            <input type="number" name="{{ attribute }}" value="{{ value + character.battributes[attribute] }}" class="form-control">
        {% endfor %}

    <h3>Skills</h3>
        {% for skill, value in character.skills.items() %}
            <label>{{ skill }}</label>
            <input type="number" name="{{ skill }}" value="{{ value }}" class="form-control">
        {% endfor %}

    <h3>Wealth</h3>
    <input  name="{{ wealth }}" value="{{ character.wealth }}" class="form-control">
    <h3>Region</h3>
    <input name="{{ region }}" value="{{ character.region }}" class="form-control">
    <h3>Background</h3>
    <input name="{{ background }}" value="{{ character.background }}" class="form-control">

    <h3>Advantages</h3>
        {% for advantage in character.advantages %}
            <input  name="advantage[]" value="{{ advantage }}"/> {{ advantage }}
        {% endfor %}


    <h3>Disadvantages</h3>
        {% for disadvantage in character.disadvantages %}
            <input name="disadvantage[]" value="{{ disadvantage }}"/> {{ disadvantage }}
        {% endfor %}


    <h3>Equipment</h3>
        {% for item in character.equipment %}
            <input name="items[]" value="{{ item }}"/> 
        {% endfor %}
        <br>
    <input type="submit" value="Save" class="btn btn-primary">

{% endblock %}
