<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Character Sheet</title>
</head>

<body>
    <script>
        function exportJson(el) {
            var obj = {{thejson | safe}};
            var data = "text/json;charset=utf-8," + encodeURIComponent(JSON.stringify(obj));
            el.setAttribute("href", "data:"+data);
            el.setAttribute("download", "{{ character.name }}.sav");
         }
    </script>
    <a id="exportJSON" onclick="exportJson(this);" class="btn">Download Save</a>
    <form method="POST">
    <label>Character Sheet</label>
    <input name="{{ name }}" value="{{ character.name }}">
    <label>Role</label>
    <input name="{{ role }}" value="{{ character.role }}">
    <label>Archetype</label>
    <input name="{{ archetype }}" value="{{ character.archetype }}">
    <label>Idea</label>
    <input name="{{ idea }}" value="{{ character.idea }}">

    <h3>Attributes</h3>
        {% for attribute, value in character.attributes.items() %}
            <label>{{ attribute }}</label>
            <input type="number" name="{{ attribute }}" value="{{ value + character.battributes[attribute] }}">
        {% endfor %}

    <h3>Skills</h3>
        {% for skill, value in character.skills.items() %}
            <label>{{ skill }}</label>
            <input type="number" name="{{ skill }}" value="{{ value }}">
        {% endfor %}

    <label>Wealth</label>
    <input  name="{{ wealth }}" value="{{ character.wealth }}">
    <label>Region</label>
    <input name="{{ region }}" value="{{ character.region }}">
    <label>Background</label>
    <input name="{{ background }}" value="{{ character.background }}">

    <h3>Advantages</h3>
    <ul>
        {% for advantage in character.advantages %}
            <li>{{ advantage }}</li>
        {% endfor %}
    </ul>

    <h3>Disadvantages</h3>
    <ul>
        {% for disadvantage in character.disadvantages %}
            <li>{{ disadvantage }}</li>
        {% endfor %}
    </ul>

    <h3>Equipment</h3>
    <ul>
        {% for item in character.equipment %}
            <li>{{ item }}</li>
        {% endfor %}
    </ul>
    <input type="submit" value="Save">

</body>
</html>
